div {
    max-width: 1600px;
    margin: 0 auto;
    background-color: powderblue;
  }

  nav a {
   text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: rgb(235, 234, 198);
}

body {
    background-color: #fcfbfb;
 }

header{
    background-color:rgba(20,30,13, .7);
}
nav a:hover{
    background-color: black;
    color: #d9c2a3;
}
.home-title {
    color: brown;
}
h4{
    color: brown;

}
.book, .join{
    color: brown;

}
.book:hover, .join:hover{
    color: brown;

}
.msg h2{
    color: brown;

}
.msg p{
    color: brown;

}
footer h3{
    color: brown;

}
footer a{
    color: brown;

}
footer a:hover{
    color: brown;

}

.msg{
    color: brown;

}

footer{
    color: brown;

}